.top
  .top-header
    = link_to new_host_path(), class:"top-header-left" do
      レシピの登録
    %button.top-header-right#button
      ランダムで表示
.content
  - @random.each do |host|
    .content-main#contents
      .content-main-left
        .content-main-left-box
          = image_tag host.image.to_s, class:".content-main-left-box-", size:"575x300"
      .content-main-right
        .content-main-right-main
          .content-main-right-title
            = host.title
          .content-main-right-food
            メイン食材
          .content-main-right-foodbox
            .content-main-right-foodbox1
              = host.food1
            .content-main-right-foodbox2
              = host.food2
            .content-main-right-foodbox3
              = host.food3
          .content-main-right-food
            サブ食材
          - if host.subfood1.blank?
            登録なし
          - else
            .content-main-right-foodbox
              .content-main-right-foodbox1
                = host.subfood1
              - if host.subfood2.blank?
                .content-main-right-null
                  登録なし
              - else
                .content-main-right-foodbox2
                  = host.subfood2
              - if host.subfood3.blank?
                .content-main-right-null
                  登録なし
              - else
                .content-main-right-foodbox3
                  = host.subfood3
          .content-main-right-time
            .content-main-right-timetitle
              調理時間目安
            .content-main-right-timebox
              = host.time
          .content-main-right-link
            = link_to host_path(host.id) do
              詳細ページへ
.footer
  .footer-main
    .footer-main-kensaku 
      = form_tag root_path,:method => 'get' do
        .search
          = text_field_tag :search
          = submit_tag 'Search', name: nil, id:"submit"